
a:link {
    text-decoration: none;
}


div.container {
    margin:auto;
/*    border: 1px solid gray;*/
    width: 95%;
   /* text-decoration: none;*/
}

#header {
	
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
#footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    margin:1px;
}


#content {
    /*margin-left: 170px;*/
   /* border-left: 1px solid gray;*/
   /* padding: 0em;*/
    overflow: hidden;
    text-align:center;
}
/*Menü*/
div.nav2 {
   /* width: :80%;*/
    padding-bottom: 120px;
    text-decoration: none;
   margin:0 0 0 150px;
   
}
div.nav2 ul li {

float: left;
background: #320434;
width: 170px;
margin:0 2px 0 0 ;
    
}
div.nav2 ul{
list-style: none;	
}
div.nav2 ul li a {
	
	color: #c197c3;
	padding: 10px;
	display: block;
   
}
div.nav2 ul li a:hover {
	
	color: white;
   
}
div.nav2 ul li:hover {
background: #156713	;
	
}
div.nav2 ul li div {
display: none;	
}
div.nav2 ul li div a {
display: block;	
background: #320434	;

}
div.nav2 ul li:hover div{
display: block;
	
}

table, td, th {    
   border: 1px solid #ddd;
    text-align: left;
}


table {
   border-collapse: collapse;
   align:center;
   
    /*width: 50%;*/
}

th, td {
    /*padding: 15px;*/
}
/*index.php*/
div.login {
border: 1px solid #dddddd;

margin-top:150px;
float:right;
text-align: right;
padding: 10px 0 10px 0;
	}
#box
{
border: 0px solid #dddddd;	

margin-left:500px;
margin-top:0px;
margin-right: 540px;

}

}
div.tarolo
{
	position:relative;
}
/*Keresőmező*/
div.kereses
{
border: 1px solid #dddddd;
margin:10px 10px 10px 10px;
text-align: inherit;
height: 100px;
}
/*Userlista*/
div.userlist
{
font-size:12px;
border: 1px solid #dddddd;
margin:10px 10px 10px 10px;
padding:10px 10px 10px  10px;
}

div.navi
{
border: 1px solid #dddddd;
margin:10px 10px 10px 10px;
padding:10px 10px 10px  10px; 
bottom: 0;
}

/*Search.php*/
div.searchcont{
border: 1px solid #dddddd;
margin:10px 10px 10px 10px;
/*padding:10px 10px 10px  10px;	*/
}
div.keresobox, div.keresobox1{
/*border: 1px solid #dddddd;*/
margin:5px 150px 5px 150px;
height: 20px;
/*width:100%;*/
}

div.talalat{
border: 1px solid #dddddd;	
margin: 15px 10px 5px 10px;
/*padding:0px 10px 10px  10px;*/
}
#talaltnev {
font-size: 1.5em;
}

div.lapozo{
border: 1px solid #dddddd;
margin:5px 10px 10px 10px;
padding:10px 10px 10px  10px;
height: 10px;
}
div.utcasz,div.utcasz1{
/*border: 1px solid #dddddd;*/
height:20px;
text-align:right;
float:left;
width:50%;
}
div.fszerint, div.fszerint1{
/*border: 1px solid #dddddd;*/
text-align:right;
	}


/*adduser.php*/
div.adduser
{
	
border: 1px solid #dddddd;
width: 80%;
margin:auto;
padding: 10px 0 10px 0;

}
#name
{
border: 1px solid #0000ff;	
width: 400px;
margin:10px 200px 10px 200px;
padding: 10px 0 10px 10px;
text-align: left;
}

#cb{
border: 1px solid #0000ff;	
width: 400px;
margin:10px 200px 10px 200px;
padding: 10px 0 10px 10px;
text-align: left;
}
#submituser{
	
border: 1px solid #0000ff;	
width: 400px;
margin:10px 200px 10px 200px;
padding: 10px 0 10px 10px;
text-align: center;
}
div.cim{
/*border: 1px solid #0000ff;	*/
width: 400px;
margin:10px 200px 10px 200px;
padding: 10px 0 10px 10px;
text-align: center;
}
/*Befizetések*/

div.payment{
/*border: 1px solid #0000ff;	*/
/*margin:10px 200px 10px 200px;*/
padding: 10px 0 10px 10px;
text-align: center;
margin:10px 10px 10px 10px;
}
#save{
padding: 10px 0 10px 10px;	
margin:10px 10px 10px 10px;
}
#ellenoriz{
padding: 10px 0 10px 10px;	
}
/*settings.php*/

div.sett{
	
border: 1px solid #dddddd;
width: 80%;
margin:auto;
padding: 10px 0 10px 0;
/*float:right;
text-align: right;*/
}

#pass
{
border: 0px solid #0000ff;	
width: 400px;
margin:auto;
padding: 10px 0 10px 10px;
/*float:right;*/
text-align: right;
}
